
.form-item {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
  line-height: normal;
  border: none;
  outline: none;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 1px solid $navy;
}

textarea {
  width: 100%;
  height: $base*4;
  padding: 12px 20px;
  border: 1px solid $navy;
}

::placeholder {}


/** Select ============**/

select {
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 100%;
  height: 40px;
  padding: 0 60px 0 30px;
  border: 1px solid $grey;
  border-radius: 0;
  outline: none;
  font-family: $sans;
}

.form-item--select .form-item--container {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 12px;
    width: 12px;
    height: 1px;
    background: $navy;
  }

  &:before {
    transform: rotate(45deg);
    right: 30px;
  }

  &:after {
    transform: rotate(-45deg);
    right: 21px;
  }
}

select::-ms-expand {
  display: none;
}


/** Number Field ============**/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-item--number {
  position: relative;
  display: inline-block;
}

.form-field--number {
  text-align: center;
  width: 40px;
  height: 30px;
  border: 2px solid $navy;
  font-weight: $weight-medium;
}


/** Errors ============**/

.form-error {}
