
.flex-grid {
  display: flex;
  flex-wrap: wrap;

  @include bp-min-width($medium) {
    margin: 0 -14px;
  }
}

.flex-grid [class*='col-'] {
  @include bp-max-width($medium) {
    width: 100%;
  }

  @include bp-min-width($medium) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.row {
  @include cf;
  margin: 0 -20px;
}

.row [class*='col-'] {
  padding: 0 20px;
}

.row [class*='col-'] {
  @include bp-min-width($medium) {
    float: left;
  }
}

.col-3-4 {
  @include bp-min-width($medium) {
    width: 75%;
  }
}

.col-2-3 {
  @include bp-min-width($medium) {
    width: 66.66%;
  }
}

.col-1-2 {
  @include bp-min-width($medium) {
    width: 50%;
  }
}

.col-1-3,
.col-1-3__lg {
  @include bp-min-width($medium) {
    width: 33.33%;
  }
}

.col-1-4 {
  @include bp-min-width($medium) {
    width: 25%;
  }
}

.col-1-6 {
  @include bp-min-width($medium) {
    width: 16.666%;
  }
}
