
.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;

  @include bp-max-width($medium) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include bp-min-width($medium) {
    width: 94%;
  }
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}
