
.js-no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1264px;
  margin: 0 auto;

  @include bp-max-width($large) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include bp-min-width($large) {
    width: 94%;
  }
}
