
$xlarge:  1160px;
$large:   1000px;
$medium:  760px;
$small:   600px;
$xsmall:  440px;
$tiny:    350px;

@mixin bp-max-width($point) {
	@media (max-width: $point) { @content; }
}

@mixin bp-max-height($point) {
	@media (max-height: $point) { @content; }
}

@mixin bp-min-width($point) {
	@media (min-width: $point) { @content; }
}

@mixin bp-min-height($point) {
	@media (min-width: $point) { @content; }
}

@mixin bp-min-max($min, $max) {
	@media (min-width: $min) and (max-width: $max) { @content; }
}