
.careers-hero {
  background: $red;
  color: #fff;
}

.careers-hero .hero-content {
  max-width: 450px;
}

.careers-hero .cta-link {
  color: #fff;
}

.careers-content .block {
  margin-bottom: $base*2;
}

.careers-content .block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  margin: 0 auto 12px;
}

.careers-content .block-icon img {
  max-width: 74px;
  max-height: 74px;
}

.careers-content .block-paragraph {
  max-width: 250px;
  margin: 0 auto;
}

.instagram {
  padding-top: $base;
  background: $lt-grey;

  @include bp-min-width($medium) {
    padding-top: $base*3;
  }
}

.instagram-logo {
  margin-bottom: $base*2;
  text-align: center;
}

.instagram-logo .icon-instagram {
  width: 68px;
  height: 68px;
}

.instagram-grid {
  display: flex;;
}

.instagram-grid--item {
  width: 25%;
}

.main-careers .careers {
  background: #fff;
}

.main-careers .careers .container {
  @include bp-min-width($medium) {
    padding-top: $base*4;
  }
}

.our-offices {
  background: $lt-grey;
}

.offices-map {
  padding-top: $base*2;
}
