
.home-hero {
	margin-bottom: $base;

	@include bp-min-width($medium) {
		margin-bottom: $base*2;
	}
}

.home-hero .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	background: $navy $home-hero no-repeat center;
	background-size: cover;

	@include bp-min-width($medium) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@include bp-min-width($medium) {
		height: 600px;
	}
}

.home-hero--block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: $base 40px;
	background: $navy;
	color: #fff;
	text-align: center;

	@include bp-min-width($medium) {
		width: 618px;
		height: 318px;
	}
}

.home-hero--title {
	margin-bottom: $base;
}

.recommended-products {
	margin-bottom: $base*2;
}

.recommended-products--wrapper {
	background: $grey;
	text-align: center;
}

.recommended-products .container {
	@include bp-min-width($medium) {
		padding-top: $base*2.75;
		padding-bottom: $base*2.75;
	}
}

.recommended-grid {
	margin-bottom: $base*2;
}

.recommended-grid--item {
	display: block;
}

.recommended-grid--title {
	@include font-size(18px);
	margin-bottom: 6px;
	line-height: 1.333;
	font-weight: $weight-medium;
}

.recommended-grid--category {
	@include font-size(18px);
	margin-bottom: 18px;
}

.featured-categories {
	margin-bottom: 30px;
}

.featured-categories--wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 436px;
}

.featured-categories--thumb {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.featured-categories--overlay {
	z-index: 10;
	width: 100%;
	max-width: 400px;
	padding: $base*2 30px;
	background: rgba($navy, .95);
	color: #fff;
	text-align: center;
}

.featured-categories--title {
	margin-bottom: $base;
}
