
.product .container {
	padding-top: $base*2;
	padding-bottom: $base*2;

	@include bp-min-width($medium) {
		padding-top: $base*4;
		padding-bottom: $base*4;
	}
}

.product-images--main {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $grey;

	@include bp-min-width($medium) {
		height: 550px;
	}
}

.product-title {
	margin-bottom: 12px;
	line-height: 1.166;
}

.product-details p {
	@include font-size(18px);
}

.product-price {
	margin-bottom: $base;
	color: $salmon;
	line-height: 1.166;
}

.product-variants {
	margin-bottom: $base;
}

.variant-item--color {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid $navy;
	border-radius: 50%;
	box-shadow: inset 0 1px 0 rgba(#fff, 1), inset 1px 0 0 rgba(#fff, 1), inset 0 -1px 0 rgba(#fff, 1), inset -1px 0 0 rgba(#fff, 1);
}

.variant-item--color__brown {
	background: $brown;
}

.variant-item--color__black {
	background: #000;
}

.variant-item--color__navy {
	background: $navy;
}

.product-purchase,
.product-description {
	margin-bottom: $base;
}

.more-from .container {
	@include bp-min-width($medium) {
		padding-bottom: $base;
	}
}
