
.product .container {
	padding-top: $base*2;
	padding-bottom: $base*2;

	@include bp-min-width($medium) {
		padding-top: $base*4;
		padding-bottom: $base*4;
	}
}

.product-images--main {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $grey;

	@include bp-min-width($medium) {
		height: 550px;
	}
}

.product-title {
	line-height: 1.166;
}

.product-details p {
	@include font-size(18px);
}

.product-price {
	margin-bottom: 30px;
	color: $salmon;
	line-height: 1.166;
}

.product-variants {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.product-label {
	@include font-size(14px);
	width: 80px;
	margin-right: 20px;
	font-weight: $weight-medium;
	text-transform: uppercase;
}

.variant-item--color {
	position: relative;
	transform: rotate(45deg);
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: -4px;
}

.variant-item--color.is-active {
	width: 30px;
	height: 30px;
	z-index: 5;
}

.variant-item--color__brown {
	background: $brown;
}

.variant-item--color__black {
	background: #000;
}

.variant-item--color__navy {
	background: $navy;
}

.product-quantity {
	margin-bottom: 30px;
}

.product-purchase,
.product-description {
	margin-bottom: $base;
}

.more-from .container {
	@include bp-min-width($medium) {
		padding-bottom: $base;
	}
}
