
.post-sidebar {
  @include bp-min-width($large) {
    order: -1;
    width: 205px;
    padding-top: 72px;
  }
}

.sidebar-block {
  @include bp-min-width($medium) {
    margin-bottom: $base*2;
  }
}

.post-sidebar .block-title {
  @include font-size(14px);
  font-weight: $weight-black;
  letter-spacing: .16em;
  text-transform: uppercase;
}

.client-vertical {
  margin-bottom: 30px;
}

.client-vertical p {
  @include font-size(14px);
}

.client-office {
  margin-bottom: $base*3;
}

.client-office .block-title {
  margin-bottom: 12px;
}

.client-office--icon {
  width: 60px;
}

.client-office--label {
  @include font-size(14px);
}

.post-share {
  padding-top: 12px;
  border-top: 1px solid $silver;
}

.post-share .block-title {
  margin-bottom: 12px;
}

.post-share ul {
  display: flex;
  justify-content: space-between;
}

.post-share a {
  display: block;
}

.post-share--icon {
  width: 30px;
  height: 30px;
}

.post-categories .block-title {
  margin-bottom: 12px;
}

.post-categories ul {
  display: flex;
  flex-wrap: wrap;
}

.post-categories li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.post-categories a {
  @include font-size(11px);
  display: inline-block;
  padding: 0 10px;
  border: 1px solid $silver;
  color: $grey;
  font-weight: $weight-bold;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.post-back-link {
  @include font-size(12px);
  padding-top: 12px;
  border-top: 1px solid $royal;
  font-weight: $weight-black;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.post-back-link a {
  color: $royal;
}
