<div class="cart-overlay"></div>

<div class="cart-drawer">
  <h3 class="cart-drawer--title title__h1">Varukorg</h3>

  <div class="order-summary">
    <div class="order-summary--head">
      <div class="order-summary--head-label order-summary--head-label__product">
        Produkter
      </div>
      <div class="order-summary--head-label order-summary--head-label__quantity">
        Antal
      </div>
      <div class="order-summary--head-label order-summary--head-label__price">
        Pris
      </div>
    </div>

    <div class="order-summary--body">
      <div class="cart-item">
        <div class="cart-item--thumb">
          <div class="cart-item--thumb-wrapper">
            <img src="/dist/images/product-thumb-fpo-01.jpg" />
          </div>
        </div>
        <div class="cart-item--product">
          <h4 class="cart-item--product-title">Sandqvist Bob (Blå)</h4>
          <p class="cart-item--product-category">Ryggsäck</p>
        </div>
        <div class="cart-item--quantity">
          2
        </div>
        <div class="cart-item--price">
          1295:-
        </div>
        <div class="cart-item--remove">
          <a href="" class="cart-item--remove-link"></a>
        </div>
      </div>
      <div class="cart-item">
        <div class="cart-item--thumb">
          <div class="cart-item--thumb-wrapper">
            <img src="/dist/images/product-thumb-fpo-01.jpg" />
          </div>
        </div>
        <div class="cart-item--product">
          <h4 class="cart-item--product-title">Sandqvist Bob (Blå)</h4>
          <p class="cart-item--product-category">Ryggsäck</p>
        </div>
        <div class="cart-item--quantity">
          2
        </div>
        <div class="cart-item--price">
          1295:-
        </div>
        <div class="cart-item--remove">
          <a href="" class="cart-item--remove-link"></a>
        </div>
      </div>
      <div class="cart-item">
        <div class="cart-item--thumb">
          <div class="cart-item--thumb-wrapper">
            <img src="/dist/images/product-thumb-fpo-01.jpg" />
          </div>
        </div>
        <div class="cart-item--product">
          <h4 class="cart-item--product-title">Sandqvist Bob (Blå)</h4>
          <p class="cart-item--product-category">Ryggsäck</p>
        </div>
        <div class="cart-item--quantity">
          2
        </div>
        <div class="cart-item--price">
          1295:-
        </div>
        <div class="cart-item--remove">
          <a href="" class="cart-item--remove-link"></a>
        </div>
      </div>
    </div>

    <div class="order-summary--foot">
      <div class="order-summary--total">
        <span class="order-summary--total-wrapper">10455:-</span>
      </div>
      <div class="order-summary--checkout">
        <button class="btn btn__grey continue-shopping-btn">Continue Shopping</button>
        <button class="btn btn__salmon checkout-btn">Checkout</button>
      </div>
    </div>

  </div>
</div>
