      <section class="bottom-content">
        <div class="container">

          <div class="flex-grid">
            <div class="bottom-content--newsletter col-1-2">
              <div class="bottom-content--wrapper">
                <h3 class="title__h1">Nyheter &amp; Erbjudanden</h3>
                <form class="newsletter-form">
                  <input type="email" placeholder="Din mailadress här" class="newsletter-form--input" />
                  <button class="newsletter-form--btn">
                    <svg class="icon-arrow-right">
                      <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </button>
                </form>
              </div>
            </div>
            <div class="bottom-content--generic col-1-2">
              <div class="bottom-content--wrapper">
                <h3 class="title__h1">Frakt &amp; Leverans</h3>
                <p>Alltid fri frakt och 1-3 arbetsdagar i leverans-tid med Posten eller DHL till utlämningsställe om inte annat anges.</p>
              </div>
            </div>
          </div>

        </div>
      </section>

    </main>

    <footer class="footer">
      <div class="container">

        <div class="flex-grid">
          <div class="footer-mission col-1-2">
            <a href="/" class="footer-logo">
              <svg class="icon-logo-mark">
                <use xlink:href="#icon-logo-mark"></use>
              </svg>
            </a>
            <p>Mt. Manor säljer noggrant utvalda livsstilsprylar och accessoarer. Vi brinner för tidlös design, hög kvalitet och hållbara material.</p>
          </div>
          <nav class="footer-nav col-1-2">
            <ul>
              <li><a href="">Väskor</a></li>
              <li><a href="">Om oss</a></li>
              <li><a href="">Klockor</a></li>
              <li><a href="">Köpvillkor</a></li>
              <li><a href="">Fodral</a></li>
              <li><a href="">Kontakt</a></li>
              <li><a href="">Accessoarer</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
