    <footer class="footer">
      <div class="container flex-row">

        <div class="footer-mission col-1-2">
          <a href="/" class="header-logo">
            <svg class="icon-logo-mark">
              <use href="#icon-logo-mark"></use>
            </svg>
          </a>
          <p>Mt. Manor säljer noggrant utvalda livsstilsprylar och accessoarer. Vi brinner för tidlös design, hög kvalitet och hållbara material.</p>
        </div>

        <nav class="footer-nav col-1-2">
          <ul>
            <li><a href="">Väskor</a></li>
            <li><a href="">Om oss</a></li>
            <li><a href="">Klockor</a></li>
            <li><a href="">Köpvillkor</a></li>
            <li><a href="">Fodral</a></li>
            <li><a href="">Kontakt</a></li>
            <li><a href="">Accessoarer</a></li>
          </ul>
        </nav>

      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
