
.header {
	background: $navy;
}

.header-message {
	@include font-size(14px);
	padding: 12px;
	background: #000;
	color: #fff;
	text-align: center;
}

.header .container {
	position: relative;
	height: 72px;
}

.home .header .container {
	@include bp-min-width($medium) {
		height: 146px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header-logo {
	@include absolute-center;
	display: block;
	width: 46px;
	height: 46px;
}

.home .header-logo {
	width: 108px;
	height: 87px;
}

.icon-logo {
	display: none;
	width: 108px;
	height: 87px;
}

.icon-logo-mark {
	width: 46px;
	height: 46px;
}

.home .header-logo {
	width: 108px;
	height: 87px;
}

.home .icon-logo {
	display: inline-block;
}

.home .icon-logo-mark {
	display: none;
}

.header-search,
.header-cart-link {
	@include vertical-center;
}

.header-cart-link {
	right: 0;

	@include bp-max-width($large) {
    right: 20px;
  }
}

.header-search {
	right: 80px;

	@include bp-min-width($large) {
		padding-left: 30px;
		right: 60px;
	}
}

.header-search [class^="icon-"],
.header-cart-link [class^="icon-"] {
	fill: #fff;
}

.header-search--form {
	@include bp-max-width($large) {
		display: none;
	}
}

.header-search--input {
	width: 160px;
	height: 30px;
	border: none;
	background: transparent;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.header-search--btn {
	position: absolute;
	bottom: 0;
	left: 0;
	background: none;
}

.header-search .icon-search,
.mobile-search .icon-search {
	width: 26px;
	height: 26px;
}

.header-search--trigger {
	display: block;

	@include bp-min-width($large) {
		display: none;
	}
}

.header-cart-link {
	display: inline-block;
	padding-top: 8px;
	padding-left: 12px;
}

.header-cart-link--count {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	background: $salmon;
	border-radius: 50%;
}

.header-cart-link .icon-cart {
	width: 28px;
	height: 25px;
}

.mobile-search {
	overflow: hidden;
	transition: all .2s ease-in;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	background: $navy;

	&.js-is-visible {
		height: 72px;
		bottom: -72px;
	}

	@include bp-min-width($large) {
		display: none;
	}
}

.mobile-search--input {
	@include font-size(24px);
	width: 100%;
	height: 72px;
	padding-left: 20px;
	background: $grey;
	color: $navy;
}

.mobile-search--input::placeholder {
	color: $navy;
}

.mobile-search--btn {
	@include vertical-center;
	right: 20px;
	width: 30px;
	background: none;
}

.mobile-search--btn .icon-search {
	fill: $navy;
}
