
.page-header {
	padding: $base*3 0;
	text-align: center;
}

.page-header .title__h1 {
	margin-bottom: $base;
}

.page-header p {
	@include font-size(24px);
	display: inline-block;
	max-width: 830px;
	font-family: $serif;
	font-weight: $weight-light;
	line-height: 1.25;
}
