
.recent-news .container {
	@include bp-min-width($medium) {
		padding-top: $base*2;
		padding-bottom: $base;
	}
}

.post-grid--item {
	margin-bottom: $base;
	text-align: center;

	@include bp-min-width($medium) {
		margin-bottom: $base*2;
	}
}

.post-grid--thumb {
	margin-bottom: 12px;
}

.post-grid--title {
	line-height: 1.25;

	@include bp-min-width($medium) {
		padding: 0 5%;
	}
}
